body {
  background-color: #242424;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
  color: #ccc;
}

.input {
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: .25rem;
  width: 9em;
}

select {
  border: 1px solid #ccc;
  border-radius: .3rem;
  margin-left:.5rem ;
  padding: .25rem;
  width: 5em;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: #ccc;

}